body{
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?58990419');
  src: url('../fonts/fontello.eot?58990419#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?58990419') format('woff2'),
       url('../fonts/fontello.woff?58990419') format('woff'),
       url('../fonts/fontello.ttf?58990419') format('truetype'),
       url('../fonts/fontello.svg?58990419#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-shape-3:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-shape-2:before { content: '\e80b'; } /* '' */
.icon-rocket:before { content: '\e80c'; } /* '' */
.icon-play:before { content: '\e80d'; } /* '' */
.icon-arrow-left:before { content: '\e80e'; } /* '' */
.icon-arrow-right:before { content: '\e80f'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */

.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a,a:hover,a:active{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a,span{
	padding: 0;
	margin: 0;
}


/*---------------------HEADER---------------------*/

.header .container{
	max-width: 1320px;
	margin: 0;
}

.brand{
	position: relative;
	float: left;
	font-size: 22px;
	color: #3c3d41;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 27px 45px 39px 45px;
	transition: .4s;
	border-right: 1px solid #d0d1d1;
}

.brand .icon-rocket{
	font-size: 34px;
	line-height: 22px;
	color: #3374f0;
}

.brand:hover{
	color: #3374f0;
}

.nav{
	float: left;
	list-style: none;
	padding: 37px 0;
}

.nav li{
	display: inline-block;
	margin: 0 15px;
}

.nav li a{
	position: relative;
	color: #3c3d41;
	padding: 11px 0;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.nav li a::after{
	position: absolute;
	content: '';
	width: 2px;
	height: 2px;
	background-color: transparent;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	transition: .6s;
}

.nav li a:hover::after{
	height: 2px;
	width: 100%;
	background-color: #3c3d41;
}

.autorisation{
	float: right;
	list-style: none;
	padding: 35.5px 0;
}

.autorisation li{
	display: inline-block;
}

.autorisation li a{
	color: #3273f0;
	margin: 25px 0;
	text-transform: uppercase;
	padding: 18px 30px;
	transition: .6s ease;
	border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
}

.autorisation li a:hover{
	background-color: #3273f0;
	color: #fff;
}

.nav-small{
	display: none;
	float: right;
	list-style: none;
	padding: 42px 0 38px 0;
}

.nav-small li{
	display: inline-block;
	margin: 0 10px;
}

.nav-small li a{
	position: relative;
	color: #3d3d3d;
	padding: 11px 0;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.nav-small li a::after{
	position: absolute;
	content: '';
	width: 2px;
	height: 2px;
	background-color: transparent;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	transition: .6s;
}

.nav-small li a:hover::after{
	height: 2px;
	width: 100%;
	background-color: #3d3d3d;
}

.hamburger{
	display: none;
	font-size: 21px;
	color: #3b3d40;
	padding: 36px 20px;
}

.nav-hamburger{
	display: none;
	top: 100px;
	left: 0;
	right: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #3b3d40;
	z-index: 60;
	opacity: 1;
}

.nav-hamburger li{
	padding: 15px;
}

.nav-hamburger li a{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}



/*---------------------POPUP AUTORISATION---------------------*/

.popup-login-wrapper,
.popup-registration-wrapper{
	display: none;
	position: fixed;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 100;
}

.popup-login-darken{
	position: absolute;
	content: '';
	background-color: rgba(0,0,0,.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popup-login,
.popup-registration{
	position: absolute;
	content: '';
	padding: 80px 60px 50px 60px;
	max-width: 220px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
	     transform: translate(-50%, -50%);
	z-index: 5;
}

.popup-headerbg{
	position: absolute;
	content: '';
	width: 100%;
	height: 50px;
	background-color: rgba(50,115,240,.7);
	top: 0;
	left: 0;
}

.popup-headerbg-title{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
	     transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.popup-headerbg-close{
	position: absolute;
	content: '';
	top: 50%;
	right: 10px;
	font-size: 20px;
	color: rgba(255,255,255,.5);
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
	     transform: translateY(-50%);
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.popup-headerbg-close:hover{
	color: rgba(255,255,255,1);
}

.login-username,
.login-password{
	display: inline-block;
	margin: 20px 0 8px 15px;
	color: #3b3d40;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.login-username-input,
.login-password-input{
	height: 30px;
	width: 200px;
	outline: none;
	border: 1px solid #3b3d40;
	padding: 5px 10px;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	color: #3b3d40;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.login-username-input:hover,
.login-password-input:hover{
	border-color: #3273f0;
}

.login-username-input:focus,
.login-password-input:focus{
	background-color: rgba(50,115,240,.2);
	border-color: #3273f0;
}

.login-checkbox{
	display: none;
}

.login-checkbox + label{
	position: relative;
	display: block;
	margin: 20px 10px;
	padding-left: 20px;
	cursor: pointer;
	line-height: 14px;
	color: #3b3d40;
}

.login-checkbox + label::before{
	position: absolute;
	content: '\f096';
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	font-size: 16px;
	font-family: "fontello";
	color: #3b3d40;
}

.login-checkbox:checked + label::before{
	content: '\e806';
	font-family: "fontello";
	color: #3b3d40;
}

.popup-login-btn{
	color: #3273f0;
	text-transform: uppercase;
	padding: 18px 30px;
	-webkit-transition: .6s ease;
	-o-transition: .6s ease;
	-moz-transition: .6s ease;
	transition: .6s ease;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	margin: 15px 0 0 5px;
	font-family: 'Montserrat', sans-serif;
	outline: none;
	border: 1px solid #3273f0;
	background-color: #fff;
	cursor: pointer;
}

.popup-login-btn:hover{
	background-color: #3273f0;
	color: #fff;
}

/*-----------------------------VIDEO WRAPPER-----------------------------*/
.video-wrapper{
	/*max-height: 981px;*/
}

.video-wrapper-content{
	padding: 100px 0 60px 0;
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #4e85f0;
	opacity: .85;
	max-height: 100vh;
	height: 100%;
	width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.play-btn-circle{
	/*margin-top: 60px;*/
	border: 2px solid rgba(255,255,255,.2);
	text-align: center;
	width: 116px;
	height: 116px;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.play-btn-circle:hover{
	border: 2px solid rgba(255,255,255,1);
}

.play-btn{
	display: inline-block;
	font-size: 80px;
	color: rgba(255,255,255,.7);
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.play-btn-circle:hover .play-btn{
	color: rgba(255,255,255,1);
}

.video-wrapper-content-header{
	margin-top:30px;
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	max-width: 791px;
	font-family: 'Montserrat', sans-serif;
}

.video-wrapper-content-title{
	margin-top: 50px;
	max-width: 530px;
	color: #fff;
	font-size: 18px;
	opacity: .8;
}

.video-wrapper-content-btn{
	font-family: 'Montserrat', sans-serif;
	border: 2px solid rgba(255,255,255,.2);
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	padding: 22px 48px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 50px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.video-wrapper-content-btn:hover{
	border: 2px solid rgba(255,255,255,1);
}

.video-block{
	display: none;
	opacity: 1;
	height: 100%;
	width: 100%;
}

.video-block{
	position: relative;
}

.video-block .close-video{
	position: absolute;
	content: '';
	top: 20px;
	right: 20px;
	color: #E03E36;
	opacity: .5;
	font-size: 40px;
	z-index: 10;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.video-block .close-video:hover{
	opacity: 1;
}



/*-----------------------------BRANDS-----------------------------*/
.brands{
	background-color: #f9f9f9;
	padding: 45px 0;
}

.brands .container{
	max-width: 1275px;
}
.brands-nav{
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

.brands-nav li{
	vertical-align: middle;
	display: inline-block;
	margin: 10px 15px;
}

.brands-nav li:first-child{
	margin-left: 0;
}

.brands-nav li:last-child{
	margin-left: 0;
}


/*-----------------------------FEATURES-----------------------------*/

.features{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding-top: 100px;
}

.best-features{
	font-size: 54px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #3c3d41;
	line-height: 54px;
}

.features-title{
	padding-top: 30px;
	font-size: 18px;
	line-height: 28px;
	color: #656b6f;
	max-width: 450px;
}

.features-items{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding: 55px 0;
}

.features-item{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	margin: 0 50px 0 50px;
}

.features-icon-wrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	border: 2px solid #3273f0;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	height: 100px;
	width: 100px;
	align-items: center;
}

.features-icon-wrapper i{
	display: inline-block;
	font-size: 52px;
	color: #3273f0;
}

.features-item-header{
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #3c3d41;
	line-height: 15px;
	margin-top: 30px;
}

.features-item-content-wrapper{
	margin-top: 24px;
	height: 45px;
	overflow: hidden;
	max-width: 285px;
}

.features-item-content{
	color: #7e848e;
	line-height: 24px;
}

.features-item-btn{
	margin-top: 60px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #3c3d41;
	padding: 13px 22px;
	border: 1px solid #3c3d41;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	-webkit-transition: .6s ease;
	-o-transition: .6s ease;
	-moz-transition: .6s ease;
	transition: .6s ease;
}

.features-item-btn:hover{
	background-color: #3273f0;
	color: #fff;
	border-color: #3273f0;
}


/*-----------------------------PRICE-----------------------------*/

.price{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding: 60px 0 150px 0;
}

.price-header{
	font-size: 54px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #3c3d41;
	line-height: 54px;
}

.price-title{
	padding-top: 30px;
	font-size: 18px;
	line-height: 28px;
	color: #656b6f;
	max-width: 450px;
}

.price-items{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}

.price-item-package-name{
	padding: 65px 90px 49px 90px;
	border-bottom: 1px solid #eaeaea;
}

.price-item{
	margin: 70px 15px 0 15px;
	border: 1px solid #eaeaea;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	max-width: 368px;
}

.price-item:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.4);
box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.4);
}

.price-item-header{
	color: #3c3d41;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	line-height: 17px;
	text-transform: uppercase;

}

.price-item-title{
	margin-top: 18px;
	font-size: 15px;
	line-height: 15px;
	color: #7e848e;

}

.price-item-title span{
	font-size: 15px;
	color: #3273f0;
	font-weight: bold;
}

.price-item-articls{
	text-align: center;
	border-bottom: 1px solid #eaeaea;
}

.price-item-article-header{
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-top: 27px;
	color: #3c3d41;
}

.price-item-article-header .icon-ok{
	color: #3273f0;
}

.price-item-article-header .icon-cancel{
	color: #7e848e;
}

.price-item-article-header:first-child{
	margin-top: 20px;
}

.price-item-article-title{
	display: inline-block;
	padding: 23px 0 30px 0;
	border-bottom: 1px solid #eaeaea;
	max-width: 280px;
	color: #7e848e;
}

.price-item-article-title:last-child {
	border: none;
}

.price-item-btn{
	display: inline-block;
	color: #fff;
	background-color: #3c3d41;
	padding: 18px 53px;
	margin: 68px 0;
	text-transform: uppercase;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}

.price-item-btn:hover{
	background-color: #3273f0;
}


/*-----------------------------STARTUP TODAY-----------------------------*/

.startup-today{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #394d75;
	padding: 90px 0 100px 0;
}

.startup-today-bg{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #76777a;
	font-size: 77px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 5px;
}

.startup-today-header{
	color: #fff;
	font-size: 54px;
	line-height: 54px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	z-index: 2;
}

.startup-today-title{
	margin-top: 25px;
	max-width: 450px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	opacity: .8;
	z-index: 2;
}

.startup-today-subscribe-wrap{
	margin-top: 90px;
	padding: 10px 3px 10px 10px;
	background-color: #4d5f82;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	border: 1px solid #607090;
	width: 463px;
	z-index: 2;
}

.startup-today-subscribe-wrap input[type='text'] {
	background-color: transparent;
	outline: none;
	border: none;
	padding-left: 20px;
	height: 30px;
	width: 260px;
	color: #fff;
}

.startup-today-subscribe-wrap input[type='submit'] {
	color: #fff;
	background-color: #3c3d41;
	padding: 18px 50px;
	text-transform: uppercase;
	-webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	        border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	background-color: #3273f0;
	border: none;
	outline: none;
	cursor: pointer;
}

.startup-today-subscribe-wrap input[type='submit']:hover{
	background-color: rgba(50,115,240,.5);
}

.startup-today-subscribe-wrap input[type='text']::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}
:-moz-placeholder           {color:white;}
:-ms-input-placeholder      {color:white;}

.startup-today-number{
	color: #fff;
	opacity: .8;
	font-size: 14px;
	padding-top: 50px;
}

/*-----------------------------FOOTER-----------------------------*/

.footer{
	float: left;
	width: 100%;
	-moz-background-size: cover;
	  -o-background-size: cover;
	     background-size: cover;
	background-color: #3c3d41;
	padding: 50px 0 50px 0;
}

.footer .container{
	max-width: 1195px;
}

.brand-footer{
	float: left;
	color: #fff;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.brand-footer i {
	font-size: 36px;
}

.footer-socials{
	float: right;
	max-width: 380px;
}

.soc-nav{
	list-style: none;
	float: right;
}

.soc-nav li {
	display: inline-block;
}

.soc-nav li a {
	display: block;
	color: #b1b1b3;
	font-size: 15px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}

.soc-nav li a:hover{
	color: #fff;
}

.footer-socials-rights{
	margin-top: 10px;
	float: right;
	color: #b1b1b3;
	font-family: 'Montserrat', sans-serif;
}