body{
	padding: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?58990419');
  src: url('../fonts/fontello.eot?58990419#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?58990419') format('woff2'),
       url('../fonts/fontello.woff?58990419') format('woff'),
       url('../fonts/fontello.ttf?58990419') format('truetype'),
       url('../fonts/fontello.svg?58990419#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-shape-3:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-shape-2:before { content: '\e80b'; } /* '' */
.icon-rocket:before { content: '\e80c'; } /* '' */
.icon-play:before { content: '\e80d'; } /* '' */
.icon-arrow-left:before { content: '\e80e'; } /* '' */
.icon-arrow-right:before { content: '\e80f'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */

.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a,a:hover,a:active{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a,span{
	padding: 0;
	margin: 0;
}


/*---------------------HEADER---------------------*/

.header .container{
	max-width: 1320px;
	margin: 0;
}

.brand{
	position: relative;
	float: left;
	font-size: 22px;
	color: #3b3d40;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 29px 45px 29px 45px;
	transition: .4s;
	border-right: 1px solid #d0d1d1;
}

.icon-rocket{
	font-size: 34px;
	color: #3374f0;
}

.brand:hover{
	color: #3374f0;
}

.nav{
	float: left;
	list-style: none;
	padding: 40.5px 0;
}

.nav li{
	display: inline-block;
	margin: 0 15px;
}

.nav li a{
	position: relative;
	color: #3d3d3d;
	padding: 11px 0;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.nav li a::after{
	position: absolute;
	content: '';
	width: 2px;
	height: 2px;
	background-color: transparent;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	transition: .6s;
}

.nav li a:hover::after{
	height: 2px;
	width: 100%;
	background-color: #3d3d3d;
}

.autorisation{
	float: right;
	list-style: none;
	padding: 40.5px 0;
}

.autorisation li{
	display: inline-block;
}

.autorisation li a{
	color: #3273f0;
	text-transform: uppercase;
	padding: 18px 30px;
	transition: .6s ease;
	border-radius: 40px;
	font-family: 'Montserrat', sans-serif;
}

.autorisation li a:hover{
	background-color: #3273f0;
	color: #fff;
}

.nav-small{
	display: none;
	float: right;
	list-style: none;
	padding: 40.5px 0;
}

.nav-small li{
	display: inline-block;
	margin: 0 10px;
}

.nav-small li a{
	position: relative;
	color: #3d3d3d;
	padding: 11px 0;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.nav-small li a::after{
	position: absolute;
	content: '';
	width: 2px;
	height: 2px;
	background-color: transparent;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	transition: .6s;
}

.nav-small li a:hover::after{
	height: 2px;
	width: 100%;
	background-color: #3d3d3d;
}

.hamburger{
	display: none;
	font-size: 21px;
	color: #3b3d40;
	padding: 36px 20px;
}

.nav-hamburger{
	display: none;
	top: 100px;
	left: 0;
	right: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: #3b3d40;
}

.nav-hamburger li{
	padding: 15px;
}

.nav-hamburger li a{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}



/*---------------------POPUP AUTORISATION---------------------*/

.popup-login-wrapper::after,
.popup-registration-wrapper::after{
	position: absolute;
	content: '';
	background-color: rgba(0,0,0,.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popup-login{
	position: absolute;
	content: '';
	padding: 80px 60px 50px 60px;
	max-width: 220px;
	background-color: #fff;
	border-radius: 3px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 5;
}

.popup-login .popup-login-headerbg{
	position: absolute;
	content: '';
	width: 100%;
	height: 50px;
	background-color: rgba(50,115,240,.7);
	top: 0;
	left: 0;
}

.popup-login .popup-login-headerbg .popup-login-headerbg-title{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.popup-login .popup-login-headerbg .popup-login-headerbg-close{
	position: absolute;
	content: '';
	top: 50%;
	right: 10px;
	font-size: 20px;
	color: rgba(255,255,255,.5);
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .4s;
}

.popup-login .popup-login-headerbg .popup-login-headerbg-close:hover{
	color: rgba(255,255,255,1);
}

.login-username,
.login-password{
	display: inline-block;
	margin: 20px 0 8px 15px;
	color: #3b3d40;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.login-username-input,
.login-password-input{
	height: 30px;
	width: 200px;
	outline: none;
	border: 1px solid #3b3d40;
	padding: 5px 10px;
	border-radius: 20px;
	color: #3b3d40;
	transition: .4s;
}

.login-username-input:hover,
.login-password-input:hover{
	border-color: #3273f0;
}

.login-username-input:focus,
.login-password-input:focus{
	background-color: rgba(50,115,240,.2);
	border-color: #3273f0;
}

.login-checkbox{
	display: none;
}

.login-checkbox + label{
	position: relative;
	display: block;
	margin: 20px 10px;
	padding-left: 20px;
	cursor: pointer;
	line-height: 14px;
	color: #3b3d40;
}

.login-checkbox + label::before{
	position: absolute;
	content: '\f096';
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	font-size: 16px;
	font-family: "fontello";
	color: #3b3d40;
}

.login-checkbox:checked + label::before{
	content: '\e806';
	font-family: "fontello";
	color: #3b3d40;
}

.popup-login-btn{
	color: #3273f0;
	text-transform: uppercase;
	padding: 18px 30px;
	transition: .6s ease;
	border-radius: 40px;
	margin: 15px 0 0 5px;
	font-family: 'Montserrat', sans-serif;
	outline: none;
	border: 1px solid #3273f0;
	background-color: #fff;
}

.popup-login-btn:hover{
	background-color: #3273f0;
	color: #fff;
}